body {
    margin: 0px 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

#header-one {
    font-size: 4vw;
}

.header-two {
    font-size: 35px;
    font-weight: 700;
}

#let {
    color: tomato;
}

.need {
    color: white;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.first-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    height: 500px;
    text-align: center;
}

.third-section {
    display: flex;
    margin-left: 250px;
    padding-bottom: 40px;
    padding-top: 25px;
}

.fourth-section {
    padding-bottom: 20px;
    padding-left: 250px;
}

.fifth-section {
    display: flex;
    text-align: center;
    padding-left: 200px;
}



.link {
    text-decoration: none;
    background-color: tomato;
    padding: 13px 20px;
    border-radius: 5px;
    color: white;

}

.link-div {
    padding-top: 25px;
}

#paragraph {
    font-size: 15px;
}

.paragraph-two {
    font-size: 15px;
    color: gray;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
}

.donation-amount {
    border: hidden;
    background-color: rgb(243, 240, 240);
    margin-right: 10px;
    border-radius: 5px;
    color: gray;
}

.hundred {
    padding: 22px 30px;
}

.thousant {
    padding: 25px 23px;
}

#unique {
    border-color: tomato;
    background-color: rgb(236, 216, 212);
    color: tomato;
    border: 2px solid tomato;
}

#input {
    border: hidden;
    border-bottom: 0.5px solid gray;
    width: 75%;
    text-align: center;
    font-size: 17px;
}

#link-id {
    padding-top: 38px;
    padding-left: 267px;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 13px 19px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}

.sixth-section {
    display: flex;
    padding-bottom: 10px;
    padding-left: 70px;

}

.box-div {
    border: hidden;
    box-shadow: 2px 2px 2px rgb(248, 245, 245);
    margin-left: 20px;
    background-color: aqua;
    width: 300px;
    height: 280px;
    border-radius: 5px;
    padding-left: 15px;
}

.paragraph-three {
    font-size: small;
    color: gray;
}

.box-div img {
    padding-top: 20px;
    padding-bottom: 30px;
}

.resize {
    font-size: 20px;
}

#color-div-one {
    background-color: rgb(221, 221, 241);

}

#color-div-two {
    background-color: rgb(243, 230, 230);
}

#color-div-three {
    background-color: rgb(238, 238, 220);
}

.seventh-section {
    text-align: center;
    padding-bottom: 20px;
}

.section-eight {
    display: flex;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contribute {
    width: 50%;
}

#contribute-button {
    margin-top: 35px;
}

.contribute img {
    border-radius: 300px;
    height: 400px;
    width: 400px;
    margin-left: 60px;
    margin-top: 80px;
}



.section-nine {
    padding-left: 300px;
    padding-right: 350px;
    padding-bottom: 250px;
}

.form-div {
    box-shadow: 5px 5px 50px gray;
    background-color: rgb(230, 230, 210);
    padding-top: 80px;
    width: 600px;
    height: 130px;
    width: 100%;
    padding-left: 70px;
}



form.email-form input {
    border: hidden;
    background-color: rgb(223, 215, 215);
    float: left;
    font-size: 15px;
    width: 60%;
    height: 33px;
}

form.email-form a {
    text-decoration: none;
    background-color: tomato;
    padding: 8px 20px;
    color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 20%px;
    float: left;
}

#big-font {
    font-size: 4em;
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-header {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: tomato;
}