body {
    margin: 0px 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

#header-one {
    font-size: 4vw;
}

#header-two {
    font-size: 35px;
    font-weight: 700;
}

#let {
    color: tomato;
}

.need {
    color: white;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.first-section {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    height: 500px;
    text-align: center;
}

.third-section {
    display: flex;
    margin-left: 250px;
    padding-bottom: 40px;
    padding-top: 25px;
}

.fourth-section {
    padding-bottom: 20px;
    padding-left: 250px;
}

.link {
    text-decoration: none;
    background-color: tomato;
    padding: 13px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}

.link-div {
    padding-top: 25px;
}

#paragraph {
    font-size: 15px;
}

#paragraph-two {
    font-size: 15px;
    color: gray;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
}

.donation-amount {
    border: hidden;
    background-color: rgb(243, 240, 240);
    margin-right: 10px;
    border-radius: 5px;
    color: gray;
}

.hundred {
    padding: 22px 30px;
}

.thousant {
    padding: 25px 23px;
}

#unique {
    border-color: tomato;
    background-color: rgb(236, 216, 212);
    color: tomato;
    border: 2px solid tomato;
}

#input {
    border: hidden;
    border-bottom: 0.5px solid gray;
    width: 75%;
    text-align: center;
    font-size: 17px;
}

#link-id {
    padding-top: 38px;
    padding-left: 267px;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 13px 19px;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
}